body {
  background-color: #fbfbfb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Bootstrap overrides */
.btn-dark:focus, .btn-dark.focus,
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: none;
}
.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
